* {
    margin: 0;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

#SINotas {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: brown;
    padding: 10px;
    border-radius: 10px;

    gap: 5px;
}

#notas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}